h1 {
 font-family:serif
}

h2 {
 font-family:serif
}

p {
 font-family:monospace
}

h3 {
 font-family:serif
}

/* Flexible Images */
img {
 max-width: 100%;
 height: auto;
}
.date { 
color: rgb(255,0,0)
}
